<%= form_with(model: bike_service) do |form| %>
  <% if bike_service.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bike_service.errors.count, "error") %> prohibited this bike_service from being saved:</h2>

      <ul>
        <% bike_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <span><%= form.label :service_name %></span>
    <%= form.text_field :service_name, class: "form-control" %>
  </div>

  <div class="form-field">
    <span><%= form.label :service_description %></span>
    <%= form.text_field :service_description, class: "form-control" %>
  </div>

  <div class="form-field">
    <span><%= form.label :service_date %></span>
    <%= form.date_field :service_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <span><%= form.label :bike_id %></span>
    <%= form.select(
      :bike_id,
      options_for_select(Bike.all.map { |a| [a.bike_name, a.id] }, chain.bike_id),
      {},
      class: 'form-control') %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
