<p style="color: green"><%= notice %></p>

<h1>Bike services</h1>
<div class="chains-bike-card">
  <h2 class="centred"><%= @bike['bike_name'] %></h2>
  <div class="bike-content">
    <%= image_tag "bike.png" , class:"bike-icon" %>
    <div class="bike-description">
      <p><span>Brand: </span><%= @bike['brand'] %></p>
      <p><span>Model: </span><%= @bike['bike_model_name'] %></p>
      <p><span>Total bike dist: </span><%= (@bike['distance'].to_f / 1000.0).round(0) %>km</p>
      <p><span>Vax Exploatation:</span>
      <% unless @bike.is_a?(Hash) %>
        <% unless @selected_chain.nil? %>
          <%= (@chains_km / 2.5).round(2) %> %
        <% end %></p>
        <p><span>Active chain:</span>
        <% unless @selected_chain.nil? %>
          <%= @selected_chain['chain_name'] %>
        <% end %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="bike-services">
  <% if @bike_services.empty? %>
    <div class="alert-div"><p>This bike has not been serviced yet.</p></div>
  <% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @bike_services.each do |bike_service| %>
        <tr>
          <td><%= bike_service.service_name %></td>
          <td><%= bike_service.service_date %></td>
          <td><%= link_to bike_service_path(id: bike_service.id) do %>
            <button class="primary">Details</button>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>

<div class="buttons">
  <a href="/bike_services/new?bike=<%= @bike['id'] %>"><button class="primary">New service</button></a>
  <a href="/profile"><button class="secondary">Back to profile</button></a>
</div>