<p style="color: green"><%= notice %></p>

<%= render @bike_service %>

<div class="service-options">
  <div class="main-options">
    <%= link_to "Edit ", edit_bike_service_path(@bike_service), class: "primary" %>
    <%= button_to "Delete service", @bike_service, method: :delete, class: "secondary" %>
  </div>
  
  <%= link_to bike_services_path(bike: @bike.id), class: "primary"  do %>
    <button>Back to services</button>
  <% end %>
</div>
