<div id="<%= dom_id chain %>" class="chain-card" >
    <div class="chain-model"><h2><i class="fa-solid fa-link"></i> <%= @chain['chain_name'] %></h2></div>
    <% unless @chain['instalation_date'].nil? %>
    <div class="view-chain-stats">
        <div class="chain-stat"><span>Chain Model: </span><p><%= @chain['chain_model'] %></p></div>
        <div class="chain-stat"><span>Used Since: </span><p><%= @chain['instalation_date'].strftime("%d.%m.%yr.") %></p></div>
        <div class="chain-stat"><span>Distance: </span><p>xx km</p></div>
        <div class="chain-stat"><span>Vaxed: </span><p><%= @chain['vaxed_timestamp'].strftime("%d.%m.%yr.") %></p></div>
        <div class="chain-stat"><span>Offset: </span><p><% if @chain['kmoffset'].nil? %> 0 <% else %> <%= @chain['kmoffset'] %> <% end %></p></div>
    </div>
    <% end %>
</div>
