<p style="color: green"><%= notice %></p>

<h1>Chains</h1>
<div class="bike-card">
  <h2><%= @bike['bike_name'] %></h2>
  <div class="bike-content">
    <%= image_tag "bike.png" , class:"bike-icon" %>
    <div class="bike-stats">
      <p><span>Brand: </span><%= @bike['brand_name'] %></p>
      <p><span>Model: </span><%= @bike['bike_model_name'] %></p>
      <p><span>Total dist: </span><%= @bike['distance'] %></p>
    </div>
  </div>
</div>

<div id="chains">
  <% @chains.each do |chain| %>
    <%= render chain %>
    <p>
      <%= link_to "Show this chain", chain %>
    </p>
  <% end %>
</div>

<%= link_to "New chain", new_chain_path %>
