<p style="color: green"><%= notice %></p>

<h1>Chains</h1>
<div class="chains-bike-card">
  <h2 class="centred"><%= @bike['bike_name'] %></h2>
  <div class="bike-content">
    <%= image_tag "bike.png" , class:"bike-icon" %>
    <div class="bike-description">
      <p><span>Brand: </span><%= @bike['brand'] %></p>
      <p><span>Model: </span><%= @bike['bike_model_name'] %></p>
      <p><span>Total dist: </span><%= (@bike['distance'].to_f / 1000.0).round(0) %>km</p>
      <p><span>Vax Exploatation:</span> xx %</p>
      <p><span>Active chain:</span>
      <% unless @bike.chains.active_chain.first.nil? %>
        <%= @bike.chains.active_chain.first['chain_name'] %>
      <% end %></p>
    </div>
  </div>
</div>

<div id="chains">
  <% if @chains.empty? %>
  <div class="alert-div"><p>This bike has no chains added yet.</p></div>
  <% else %>
    <% @chains.each do |chain| %>
      <%= link_to chain do %>
        <div class="chain-card">
          <div class="chain-model"><h2><i class="fa-solid fa-link"></i> <%= chain['chain_name'] %></h2></div>
          <% unless chain['instalation_date'].nil? %>
            <div class="chain-stats">
              <div class="chain-stat"><span>Since: </span><p><%= chain['instalation_date'].strftime("%d.%m.%yr.") %></p></div>
              <div class="chain-stat"><span>Distance: </span><p><%= @chains_km[chain.id] %></p></div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="buttons">
  <a href="/chains/new?bike=<%= @bike['id'] %>"><button class="primary">New Chain</button></a>
  <a href="/profile"><button class="secondary">Back to profile</button></a>
</div>