<p style="color: green"><%= notice %></p>

<h1>Chains</h1>
<div class="chains-bike-card">
  <h2 class="centred"><%= @bike['bike_name'] %></h2>
  <div class="bike-content">
    <%= image_tag "bike.png" , class:"bike-icon" %>
    <div class="bike-description">
      <p><span>Brand: </span><%= @bike['brand'] %></p>
      <p><span>Model: </span><%= @bike['bike_model_name'] %></p>
      <p><span>Total dist: </span><%= (@bike['distance'].to_f / 1000.0).round(0) %>km</p>
    </div>
  </div>
</div>

<div id="chains">
  <% if @chains.empty? %>
    <p>This bike has no chains added yet.</p>
  <% else %>
    <% @chains.each do |chain| %>
      <%= render chain %>
      <p>
       <%= link_to "Show this chain", chain %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to New Chain, new_chain_path %>
