<p style="color: green"><%= notice %></p>

<%= render @chain %>

<div class="chain-options">
  <div class="main-options">
    <%= link_to "Edit Chain", edit_chain_path(@chain), class: "primary" %>
    <%= button_to "Delete Chain", @chain, method: :delete, class: "secondary" %>
  </div>

  <%= link_to "Back to chains", chains_path, class: "primary" %>
</div>
