<p style="color: green"><%= notice %></p>

<%= binding.pry %>
<%= render @chain %>

<div class="chain-options">
  <div class="main-options">
    <%= link_to "Edit Chain", edit_chain_path(@chain), class: "primary" %>
    <%= button_to "Delete Chain", @chain, method: :delete, class: "secondary" %>
  </div>

  <a href="/chains?bike=<%= @chain['bike_id'] %>"><button class="primary">Back to chains</button></a>
</div>
