<p style="color: green"><%= notice %></p>

<%= render @chain %>

<div class="chain-options">
  <%= link_to "Edit this chain", edit_chain_path(@chain), class: "primary" %> |
  <%= link_to "Back to chains", chains_path, class: "secondary" %>

  <%= button_to "Destroy this chain", @chain, method: :delete, class: "primary" %>
</div>
