<!DOCTYPE html>
<html>
  <head>
    <title>Biketrack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="menu">
      <i class="fa-solid fa-bicycle fa-xl licon"></i>
      <h1>biketrack<span>.pro</span> </h1>
      <i class="fa-solid fa-bars fa-xl"></i>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
